@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e4eefa;
}

/* START OPTIONAL HEADER STATEMENT */
.header-statement h2 {
  color: #fe8369;
  font-size: 2em;
  padding-top: 80px;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

.header-statement h1 {
  color: #fe8369;
  font-size: 3em;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: center;
}
/* END OPTIONAL HEADER STATEMENT */

/* ---------------------------------------------------- */

/* START MAIN PROPERTY SEARCHBOX */

.main-searchbar-wrap {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.property-search-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* SIZE OF THE PROPERTY SEACH BOX IS SET HERE */
.property-search-wrapper .search-box {
  width: 730px;
  background: #fff;
  height: 65px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

/* START .buy .buy-house */
.property-search-wrapper .search-box .buy {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.property-search-wrapper .search-box .buy .buy-house {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

.property-search-wrapper .search-box .buy ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: -10px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  z-index: 2;
}

.property-search-wrapper .search-box .buy ul.active {
  display: block;
  z-index: 2;
}

.property-search-wrapperpper .search-box .buy ul li {
  padding-bottom: 20px;
  user-select: none;
  z-index: 2;
}

.property-search-wrapper .search-box .buy ul li:last-child {
  padding-bottom: 0;
}

.property-search-wrapper .search-box .buy ul li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.property-search-wrapper .search-box .buy::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* End .buy .buy-house Dropdown */

/* START City City-City Dropdown*/
.property-search-wrapper .search-box .city {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.property-search-wrapper .search-box .city .city-city {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
  z-index: 2;
}

/* Dropdown Box styling for City */
.property-search-wrapper .search-box .city ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 2;
}

.property-search-wrapper .search-box .city ul.active {
  display: block;
}

.property-search-wrapperpper .search-box .city ul li {
  padding-bottom: 20px;
  user-select: none;
}

.property-search-wrapper .search-box .city ul li:last-child {
  padding-bottom: 0;
}

.property-search-wrapper .search-box .city ul li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.property-search-wrapper .search-box .city::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* End City City-City Dropdown */

/* START Price Price-range Dropdown*/
.property-search-wrapper .search-box .price {
  width: 220px;
  /* border-right: 2px solid #dde2f1; */
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.property-search-wrapper .search-box .price .price-range {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

.property-search-wrapper .search-box .price ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.property-search-wrapper .search-box .price ul.active {
  display: block;
}

.property-search-wrapperpper .search-box .price ul li {
  padding-bottom: 20px;
  user-select: none;
}

.property-search-wrapper .search-box .price ul li:last-child {
  padding-bottom: 0;
}

.property-search-wrapper .search-box .price ul li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.property-search-wrapper .search-box .price::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* END PRICE PRICE-RANGE DROPDOWN */

/* START PROPERTY SEARCH BOX BUTTON */

.property-search-wrapper .search-box .search-button {
  background-color: #fe8369;
  color: white;
  height: 66px;
  width: 224px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: lighter;
}

.property-search-wrapper .search-box .search-button .button {
  background-color: #fe8369; /* Orange */
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
/* END PROPERTY SEARCH BOX BUTTON */

/* START ADVANCED OPTIONS BUTTON STYLING */

.property-search-wrapper .advanced-options-button {
  position: absolute;
  background-color: #fe8369;
  color: white;
  height: 66px;
  width: 66px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 88%;
  /* left 5% sets the gap between SEARCH button and the MORE OPTIONS */
  left: 106%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.property-search-wrapper .advanced-options-button::after {
  position: absolute;
  content: url(/images/list-with-dots.svg);
  left: 32%;
}

/* END ADVANCED OPTIONS BUTTON STYLING */

/* END MAIN PROPERTY SEARCHBOX */

/* ------------------------------------------------ */

/* START SECOND ROW HIDDEN PROPERTY SEARCHBOX */

.second-row-property-search-wrapper {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* SIZE OF THE PROPERTY SEACH BOX IS SET HERE */
.second-row-property-search-wrapper .second-row-property-search {
  width: 730px;
  background: #fff;
  height: 65px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

/* START .bed .bedrooms */
.second-row-property-search-wrapper .second-row-property-search .bed {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.second-row-property-search-wrapper .second-row-property-search .bed .bedrooms {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

.second-row-property-search-wrapper .second-row-property-search .bed ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: -10px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.second-row-property-search-wrapper .second-row-property-search .bed ul.active {
  display: block;
}

.second-row-property-search-wrapper .second-row-property-search .bed ul li {
  padding-bottom: 20px;
  user-select: none;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .bed
  ul
  li:last-child {
  padding-bottom: 0;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .bed
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.second-row-property-search-wrapper .second-row-property-search .bed::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* END .bed .bedroom */

/* ----------------------------------------------- */

/* START min min-price Dropdown*/
.second-row-property-search-wrapper .second-row-property-search .min {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .min
  .min-price {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

/* Dropdown Box styling for Min Price */
.second-row-property-search-wrapper .second-row-property-search .min ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  max-height: 200px;
  overflow-y: scroll;
}

.second-row-property-search-wrapper .second-row-property-search .min ul.active {
  display: block;
}

.second-row-property-search-wrapper .second-row-property-search .min ul li {
  padding-bottom: 20px;
  user-select: none;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .min
  ul
  li:last-child {
  padding-bottom: 0;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .min
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.second-row-property-search-wrapper .second-row-property-search .min::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* End min min-price Dropdown */

/* ----------------------------------------------- */

/* START max max-price Dropdown*/
.second-row-property-search-wrapper .second-row-property-search .max {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .max
  .max-price {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

/* Dropdown Box styling for Max Price */
.second-row-property-search-wrapper .second-row-property-search .max ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  overflow-y: scroll;
}

.second-row-property-search-wrapper .second-row-property-search .max ul.active {
  display: block;
}

.second-row-property-search-wrapper .second-row-property-search .max ul li {
  padding-bottom: 20px;
  user-select: none;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .max
  ul
  li:last-child {
  padding-bottom: 0;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .max
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.second-row-property-search-wrapper .second-row-property-search .max::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* END max max-price DROPDOWN */

/* ----------------------------------------------- */

/* START bath bathrooms Dropdown*/
.second-row-property-search-wrapper .second-row-property-search .bath {
  width: 220px;
  /* border-right: 2px solid #dde2f1; */
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .bath
  .bathrooms {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

/* Dropdown Box styling for Max Price */
.second-row-property-search-wrapper .second-row-property-search .bath ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 50px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  overflow-y: scroll;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .bath
  ul.active {
  display: block;
}

.second-row-property-search-wrapper .second-row-property-search .bath ul li {
  padding-bottom: 20px;
  user-select: none;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .bath
  ul
  li:last-child {
  padding-bottom: 0;
}

.second-row-property-search-wrapper
  .second-row-property-search
  .bath
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.second-row-property-search-wrapper .second-row-property-search .bath::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* END bath bathroom DROPDOWN */

/* END SECOND ROW HIDDEN PROPERTY SEARCHBOX */

/* ------------------------------------------------- */

/* START THIRD ROW HIDDEN PROPERTY SEARCHBOX */

.third-row-property-search-wrapper {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* SIZE OF THE PROPERTY SEACH BOX IS SET HERE */
.third-row-property-search-wrapper .third-row-property-search {
  width: 730px;
  background: #fff;
  height: 65px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

/* START .bed .bedrooms */
.third-row-property-search-wrapper .third-row-property-search .plot {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.third-row-property-search-wrapper .third-row-property-search .plot .plot-size {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

.third-row-property-search-wrapper .third-row-property-search .plot ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: -10px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.third-row-property-search-wrapper .third-row-property-search .plot ul.active {
  display: block;
}

.third-row-property-search-wrapper .third-row-property-search .plot ul li {
  padding-bottom: 20px;
  user-select: none;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .plot
  ul
  li:last-child {
  padding-bottom: 0;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .plot
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.third-row-property-search-wrapper .third-row-property-search .plot::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* END .bed .bedroom */

/* ----------------------------------------------- */

/* START min min-price Dropdown*/
.third-row-property-search-wrapper .third-row-property-search .swim {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.third-row-property-search-wrapper .third-row-property-search .swim .swimming {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

/* Dropdown Box styling for Min Price */
.third-row-property-search-wrapper .third-row-property-search .swim ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and Property Searchbox Itself   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  max-height: 200px;
  overflow-y: scroll;
}

.third-row-property-search-wrapper .third-row-property-search .swim ul.active {
  display: block;
}

.third-row-property-search-wrapper .third-row-property-search .swim ul li {
  padding-bottom: 20px;
  user-select: none;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .swim
  ul
  li:last-child {
  padding-bottom: 0;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .swim
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.third-row-property-search-wrapper .third-row-property-search .swim::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* End min min-price Dropdown */

/* ----------------------------------------------- */

/* START max max-price Dropdown*/
.third-row-property-search-wrapper .third-row-property-search .garage {
  width: 220px;
  border-right: 2px solid #dde2f1;
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .garage
  .garage-space {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

/* Dropdown Box styling for Max Price */
.third-row-property-search-wrapper .third-row-property-search .garage ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
  overflow-y: scroll;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .garage
  ul.active {
  display: block;
}

.third-row-property-search-wrapper .third-row-property-search .garage ul li {
  padding-bottom: 20px;
  user-select: none;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .garage
  ul
  li:last-child {
  padding-bottom: 0;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .garage
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.third-row-property-search-wrapper .third-row-property-search .garage::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

/* END max max-price DROPDOWN */

/* ----------------------------------------------- */

/* START bath bathrooms Dropdown*/
.third-row-property-search-wrapper .third-row-property-search .bath {
  width: 220px;
  /* border-right: 2px solid #dde2f1; */
  /* color: #9fa3b1; */
  color: #707070;
  position: relative;
  cursor: pointer;
}

.third-row-property-search-wrapper .third-row-property-search .bath .bathrooms {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

.third-row-property-search-wrapper .third-row-property-search .bath ul {
  position: absolute;
  /* Top: 60px gap betwenn dropdown box and search bar   */
  top: 60px;
  border-radius: 5px;
  /* left: 0px or negative or positive values move the dropdown box left or right */
  left: 0px;
  background: #fff;
  width: 150px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.third-row-property-search-wrapper .third-row-property-search .bath ul.active {
  display: block;
}

.third-row-property-search-wrapper .third-row-property-search .bath ul li {
  padding-bottom: 20px;
  user-select: none;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .bath
  ul
  li:last-child {
  padding-bottom: 0;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .bath
  ul
  li:hover {
  color: #fe8369;
}

/* Orange Drop-Down Triangle */
.third-row-property-search-wrapper .third-row-property-search .bath::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #fe8369 transparent transparent transparent;
}

.third-row-property-search-wrapper .third-row-property-search .search-field {
  width: 220px;
  height: 100%;
  position: relative;
}

.third-row-property-search-wrapper
  .third-row-property-search
  .search-field
  .input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #fff;
}

/* .wrapper .search-box .search-field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search-box .search-field .input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  padding-left: 20px;
  /* 38px stops the text in search bar to go over the search icon */
/*padding-right: 38px; 
  color: #6f768d;
}

.wrapper .search-box .search-field .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #fe8369;
  cursor: pointer;
} */

/* END bath bathroom DROPDOWN */

/* END THIRD ROW HIDDEN PROPERTY SEARCHBOX */

/* ------------------------------------------------- */

::-webkit-input-placeholder {
  color: #707070;
}

::-moz-input-placeholder {
  color: #707070;
}

::-ms-input-placeholder {
  color: #707070;
}

/* @media Instructs for the  */
@media (max-width: 768px) {
  .property-search-wrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
